body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #000;
    background-color: rgb(238, 238, 238);
}

h1 {
    font-size: 70px;
    line-height: normal;
}

ul {
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
    line-height: 1.3em;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header{
    padding: 50px, 0px;
    background-color: #DCDCDC;
}

.boxx{
    margin: 0 auto;
    width: 1150px;
}

.navig{
    background-color: rgb(129, 129, 129);
    border-color: #666666;
    min-height: 64px;
}

.navig li{
    float: left;
    width: 250px;
    height: 64px;
}

.navig a{
    display: block;
    color: #101010;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 64px;
}

.navig li a:hover{
    color: pink;
    background-color: rgb(85, 85, 85);
}

.coll{
    overflow: auto;
    background-color: rgba(177, 177, 177, 0.692);
    border: 2px black solid;
    margin: 10px 10px 10px 10px;
}

.coll-title{
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size: 32px;
}

.coll-title small{
    color: #777;
    font-size: 70%;
}

.coll-item-out{
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.coll-img{
    margin-right: 50px;
    float: left;
}

.coll-text{
    padding-left: 300px;
}

.coll-text h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
}

.readmore{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.readmore:hover{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    color: rgb(187, 187, 187);
    background-color: rgb(77, 77, 77);
}

.footer{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 20px 0;
    margin-top: 30px;
}

.cart{
    margin-left: 30px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.cart:hover{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    color: pink;
    background-color: rgb(255, 119, 119);
}



/*
.poz {
    text-align: center;
}

a {
    text-decoration: none;
}

.hr li {
    text-align: center;
    padding: 5px 0; 
    display: inline; 
    margin-right: 50px; 
    font-size: 50px;
    line-height: normal;
    color:#DCDCDC
}

.seven p {
    text-align: center;
    color: #6cb1ff;
}

.steven {
    padding-right: 75%;
    font-size: 25px;
}

.yes {
    font-size: 25px;
    color: #000;
}

.forh{
    text-align: center;
}

.forimg{
    padding-right: 85%;
}

.das{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.divo{
    
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 356.836px;
    padding-right: 15px;
    padding-left: 15px;
} */