body {
    margin: 0;
    font: 0.92em/1.4 Arial, sans-serif;
    min-width: 780px;
    background: #fff;
    color: #000;
}
header{
    background-color: #DCDCDC;
}
h1 {
    font-size: 70px;
    line-height: normal;
}

.poz {
    text-align: center;
}
a {
    text-decoration: none;
}
.hr ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.hr li {
    text-align: center;
    padding: 5px 0; /* відступ */
    display: inline; /* Отображать как строчный элемент */
    margin-right: 50px; /* Отступ слева */
    font-size: 50px;
    line-height: normal;
    color:#DCDCDC
}
.seven p {
    text-align: center;
    color: #6cb1ff;
}

.steven {
    padding-right: 75%;
    font-size: 25px;
}

.yes {
    font-size: 25px;
    color: #000;
}

.forh{
    text-align: center;
}

.forimg{
    padding-right: 85%;
}
.das{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.divo{
    
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 356.836px;
    padding-right: 15px;
    padding-left: 15px;
}

.texatut{
    
}

.imgag{

}